<form [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Workout Type</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let type of workoutTypes" [value]="type">{{ type }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Workout Minutes</mat-label>
    <input matInput formControlName="minutes" type="number">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Add Workout</button>
</form>