<div>
<mat-form-field appearance="fill">
  <mat-label>Search by Name</mat-label>
  <input matInput (input)="applyFilter($event)">
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Filter by Workout Type</mat-label>
  <mat-select (selectionChange)="applyTypeFilter($event.value)">
    <mat-option *ngFor="let type of workoutTypes" [value]="type">{{ type }}</mat-option>
  </mat-select>
</mat-form-field>

<table mat-table [dataSource]="filteredUsers" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let user"> {{ user.name }} </td>
  </ng-container>

  <ng-container matColumnDef="workouts">
    <th mat-header-cell *matHeaderCellDef> Workouts </th>
    <td mat-cell *matCellDef="let user">
      <div *ngFor="let workout of user.workouts">
        {{ workout.type }}: {{ workout.minutes }} minutes
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
